@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

$font-main: 'Poppins', sans-serif;
$font-size: 24px;

$black: #0A0A0C;
$gray: #CDCDCD;
$orange: #ED5517;;
$white: #FFFFFF;;